/*====================NAVBAR========================*/
.flex {
    display: flex;
    flex-wrap: nowrap;
}

.col-md-3 {
    margin-top: 20px;
    padding: 5px;
}

#products {
    position: relative;
}

.red {
    background: red;
}

.green {
    background: green;
}

#logo-small {
    max-height: 35px;
}

.p-2 {
    height: 100px;
    width : 100px;
    background: #ddd;
}

.ht-balance {
    border: 1px solid;
    border-radius: 50px;
    max-height: 35px;
    margin-top: 8px;
    padding: 10px;
    background: #ddd;
}

.col {
    height: 100%;
}

.flex-div {
    width: calc(100%/3);
}

#middle-search {
    margin-left : -100px;
}

.search-big-d, .search-big-d:focus, .search-big-d:hover {
    padding: 3px 5px 3px 3px;
    height: 100%;
    width: 250px;
    max-width: 300px;
    align-items: stretch;
    font-size: 16px;
    background: transparent;
}

.ht-balance:hover {
    background: #efefef !important;
}

.contain-full {
    width: 100% !important;
}

.user-ico {
    font-size: 1.3em;
    padding: 10px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    background: #0c1c31 !important;
    padding: 0.2em 1em;
}

.card-body.row.no-gutters.align-items-center {
    padding: 0;
}

i.fas.fa-search.h4.text-body {
    padding: 10px;
    font-size: 1em;
    margin: 0;
}

a.nav-link, .my-color {
    color: #ffcc00 !important;
}

.padd {
    padding: 3px;
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

button.navbar-toggler {
    color: #ffcc00 !important;
    margin: 10px 0 0 0;
    padding: 0;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,204,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    ; }

@media (max-width: 768px) {
    body {
        background: #ddd;
    }

    .ht-balance {
        display: none;
    }

    .flex-div {
        width: calc(100%/2);
    }

    #logo-small {
        position: absolute;
        left: calc(50% - 75px);
    }
}

/*==========================================================*/
/*768px to 900px fix it!*/
/*====================PRODUCT CATALOGUE======================*/
.product-show {
    max-width: 100%;
    font-family: 'Roboto', sans-serif;
    background: #ffffff;
    /* padding: 5px 5px 5px 5px; */
    border-radius: 5px;
    box-shadow: 2px 2px 4px #ddd;
    /* transition: opacity 11.3s ease-in-out; */
}

.product-show:hover {
    box-shadow: 5px 10px 25px #ddd;
    transition: opacity 9.3s ease-in-out;
}

img.product-img-a {
    width: 100%;
}

.product-top-layer {
    position: relative;
}

.product-name {
    max-width: calc(100% - 70px);
    /* font-size: 1.05em; */
    text-transform: capitalize;
    text-align: left;
}

.product-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1.04em;
    color: #2f2f2f;
    /* padding: 0px 0px 0px 0px; */
}

.product-name p {
    margin: 0;
    /* padding: 5px; */
}

.product-price p {
    /* padding: 5px 5px 5px 5px; */
    font-size: 1.19em;
    /* color: #635f5f; */
    vertical-align: middle;
    margin: 0;
}

span.price-tag {
    position: absolute;
    top: 5px;
    left: 2px;
    background: #ffcc00;
    width: 25px;
    height: 20px;
    font-size: 0.7em;
    padding: 2px 0 0 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    transform: rotate(40deg);
}

span.price-tag:before {
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    height: 0;
    width: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid #ffcc00;
}

span.price-tag:after {
    content: '';
    position: absolute;
    top: 7px;
    right: 100%;
    width: 5px;
    height: 5px;
    background: #fff;
    border-radius: 50%;
}

.heart {
    position: absolute;
    top: -30px;
    right: -30px;
    width: 100px;
    height: 100px;
    background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
    background-position: 0 0;
    cursor: pointer;
    transition: background-position 1s steps(28);
    transition-duration: 0s;
}

.heart.is-active {
    transition-duration: 1s;
    background-position: -2800px 0;
}

/*===========================================================*/