.product-img-modal img {
    width: 100%;
}

.sub-img {
    padding: 15px 0px 0 0px;
}

.outter-container {
    padding: 40px;
}
a.site-link {
    text-decoration: none;
    color: #ffcc00;
    padding: 3px 10px;
    font-size: 14px;
    background: #0c1c31;
    font-weight: bold;
    letter-spacing: 0px;
    border-radius: 6px;
}

.col-md-7.product-img-modal {
    /* padding: 40px; */
}
.product-prize-long p {
    margin: 10px 0 10px 0;
    font-weight: bold;
}
.sub-img img {
    max-height: 75px;
    max-width: 105px;
}

.product-name-long h4 {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 5px 0;
}

button.modal-close {
    border: none;
    position: absolute;
    right: 0px;
    background: transparent;
    /* float: right; */
    text-align: right;
    padding: 5px 10px;
}

span.site-name-long {
    font-size: 16px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: .5px;
}

button:focus {
    outline: none;
}

.product-long-desc p, .product-specs ul,.product-list-details {
    margin: 0 0 10px 0;
    font-size: 16px;
    line-height: 1.3em;
}

.product-site-long p {
    margin: 0 0 0px 0;
}

.dims-head h5 {
    font-size: 14px;
    font-weight: bold;
}
.dims {
    margin: 0 20px 0 0 ;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
    //CSS
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
    //CSS
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    //CSS
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    //CSS
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {

    .sub-img {
        padding: 10px;
    }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
    .outter-container {
        padding: 3px;
    }

    .product-name-long {
        text-align: left;
    }

    .product-name-long h4 {
        font-size: 16px;
    }

    .product-long-desc p, .product-site-long,.product-specs ul, .product-list-details {
        margin: 5px 0 5px 0;
        font-size: 12px;
        line-height: 1.2em;
    }

    span.site-name-long {
        font-size: 12px;
    }

    .product-specs ul, .product-list-details {
        padding-left: 20px;
    }

    .dims-head h5 {
        font-size: 13px;
        font-weight: bold;
    }

    .sub-img {
        padding: 10px;
    }

    button.modal-close {
        float: none;
        position: absolute;
        z-index: 9999;
        right: 0px;
        color: #fff;
        background: #3330309c;
        margin: 3px;
        padding: 2px 7px;
    }
    a.site-link {
      font-size: 12px;
      margin: 0;
    }
}
